<% include ./partials/header %>
<h1>game results page</h1>

<% entries.forEach(function(results){ %>
    <li>
        <%= results.username %> - <%=results.gameName %>
    </li>
<% }); %>

<% include ./partials/footer %>