<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="/css/landing.css">



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-white">Gamer Exchange</h2>
    <p class="lead whiteFont">Language Exchange. For Gamers.</p>
  </div>
</div>

<div class="container">
<div class="card text-white mb-3">
  <div class="card-body">

  <p>
  Welcome to Gamer Exchange! Practice your second language by gaming with native speakers.
  </p>

  <p>
  One of the best ways to learn a language is immersion. But alot of people don't have the luxury to be able to do that.
  </p>
  
  <p>
  The next best thing? Meeting up in the online world, working toward a common goal, improving your second language and having
  a great time doing it.
  </p>
  
</div>
</div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://steamcdn-a.akamaihd.net/steam/apps/39210/header.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://cdn.vox-cdn.com/uploads/chorus_asset/file/15957232/0fe20042_0bb8_4781_82f4_7130f928b021.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://steamcdn-a.akamaihd.net/steam/apps/413150/header.jpg?t=1526407575" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="http://igg-games.com/wp-content/uploads/2017/08/7-Days-to-Die-Free-Download.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://cracked-games.org/wp-content/uploads/2016/05/ARK-Survival-Evolved.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://mcfarlane.com/wp-content/uploads/2018/03/New_Borderlands_Header.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://res.cloudinary.com/lmn/image/upload/c_limit,h_360,w_640/e_sharpen:100/f_auto,fl_lossy,q_auto/v1/gameskinnyc/d/i/v/divinity-180df.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://cracked-games.org/wp-content/uploads/2016/05/Dont-Starve-Together.png" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://steamcdn-a.akamaihd.net/steam/apps/582660/header.jpg?t=1526537869" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://upload.wikimedia.org/wikipedia/en/4/46/TheForest_Game.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://news4c.com/wp-content/uploads/2018/03/PlayerUnknown-Battlegrounds.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://www.empiregaming.com/pub/media/catalog/product//r/u/rust_guia2.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="http://igg-games.com/wp-content/uploads/2017/07/Tom-Clancys-Ghost-Recon-Wildlands-Free-Download.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://ksassets.timeincuk.net/wp/uploads/sites/54/2014/05/TESO-9.jpg" class="img-thumbnail">
  </div>
  <div class="col-lg-4 col-sm-6 mt-4 mb-4">
    <img src="https://www.pcgamesn.com/sites/default/files/Overwatch%20logo.jpg" class="img-thumbnail">
  </div>
</div>
</div>

<% include ./partials/footer %>