<% include ./partials/header %>

<h1>Welcome to the Gamer Exchange PRE-ALPHA EARLY ACCESS!</h1>
<h4>THE ONE STOP SHOP FOR GAMING AND LEARNING LANGUAGES EN MEME TEMPS</h4>


<% include ./partials/footer %>