<% include ./partials/header %>
<h1>Describe your gaming partner</h1>


<div class="form-group container">
  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      
      <form action="/gameresults" method="GET">
        <p><label for="sel1">Speaks:</label>
          <select id="speakValue" name="speaking">
            <option>French</option>
            <option>English</option>
          </select>
        </p>
        <p><label for="sel1">Learning:</label>
          <select id="learnValue" name="learning">
            <option>English</option>
            <option>French</option>
          </select>
        </p>
        <p>
          <input type="submit">
        </p>
      </form>
      
        <!-- <a href="/gameresults"><button type="button" class="btn btn-primary">Search</button></a> --
    </div>
  </div>
</div>
<!--
<select>
    <option value ="french">french</option>
    <option value ="english">english</option>
</select>
-->



<% include ./partials/footer %>