<% include ./partials/header %>



<div class="marginTop card text-white text-center mx-auto" style="width: 20rem">
  <div class="card-body">
    <h1>Your Gaming Partner</h1>


      <form action="/gameresults" method="GET">
        <div class="form-group">
          <div class="align-items-center">
          <p><label for="sel1">Speaks:</label>
            <select class="custom-select" id="speakValue" name="speaking">
              <option selected>French</option>
              <option>English</option>
            </select>
          </p>
          </div>
          
          <div class="align-items-center">
          <p><label for="sel1">Learning:</label>
            <select class="custom-select" id="learnValue" name="learning">
              <option selected>English</option>
              <option>French</option>
            </select>
          </p>
          </div>
          
          <div class="mx-auto">
          <p>
            <input type="submit" class="btn btn-primary">
          </p>
          </div>
        </div>
      </form>
  </div>
</div>
      
        <!-- <a href="/gameresults"><button type="button" class="btn btn-primary">Search</button></a> --
    </div>
  </div>
</div>
<!--
<select>
    <option value ="french">french</option>
    <option value ="english">english</option>
</select>
-->



<% include ./partials/footer %>