<% include ./partials/header %>
<h1>Describe your gaming partner</h1>


<div class="form-group container">
  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      <p><label for="sel1">Speaks:</label>
        <select name="speaking">
          <option>French</option>
          <option>English</option>
        </select>
      </p>
      <p><label for="sel1">Learning:</label>
        <select name="learning">
          <option>English</option>
          <option>French</option>
        </select>
      </p>
      <p>
        <a href="/gameresults"><button type="button" class="btn btn-primary">Search</button></a>
      </p>
    </div>
  </div>
</div>
<!--
<select>
    <option value ="french">french</option>
    <option value ="english">english</option>
</select>
-->

<% include ./partials/footer %>