<% include ./partials/header %>
<h1>Account confirmation</h1>

<form action="/activation/<%=user.authToken%>" method="POST">
    <div class="text-center">
    <button class="btn btn-primary mt-10" type="submit">Verify!</button>
    </div>
    <%=console.log(user);%>
</form>

<% include ./partials/footer %>